<a href="https://colab.research.google.com/github/ThamyresChristine/BigData_Mackenzie/blob/main/2_Python_Basics_Tuples_Sets_Dict_Func_Cond_While_For.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Tuples**

Tuples are used to store multiple items in a single variable.

Tuples are written with round brackets.

**Ordered**

When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

**Unchangeable**

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

**Allow Duplicates**

Since tuples are indexed, they can have items with the same value:

In [ ]:
thistuple = tuple(("apple", "banana", "cherry"))
print(len(thistuple))

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

#the truple() constructor
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

3
<class 'tuple'>
<class 'str'>
('apple', 'banana', 'cherry')

**Tuple items can be of any data type**

In [ ]:
thistuple = ("apple", "banana", "cherry")   #access tuple items
print(thistuple[1])

print(thistuple[-1])          #negativeindexing

print(thistuple[2:5])         #rangeindexing

#Note: The search will start at index 2 (included) and end at index 5 (not included).

thistuple2 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple2[:4])
#This example returns the items from the beginning to, but NOT included, "kiwi"

print(thistuple2[2:])

print(thistuple2[-4:-1])      #rageOfNegativeIndexes

if "apple" in thistuple2:     #CheckIfItemExists
  print("Yes, 'apple' is in the fruits tuple")

banana
cherry
('cherry',)
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange', 'kiwi', 'melon', 'mango')
('orange', 'kiwi', 'melon')
Yes, 'apple' is in the fruits tuple

In [ ]:
thistuple2 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple2[-4:-1])      #rageOfNegativeIndexes, the count starts in zero

('orange', 'kiwi', 'melon')

In [ ]:
#ChangeTupleValues - You can convert the tuple into a list, change the list, and convert the list back into a tuple

y = list(thistuple)
y[1] = "kiwi"
thistuple = tuple(y)

print(thistuple)

#AddItems

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

#AddTupleToTuple

thistuple = ("apple", "banana", "cherry")
y = ("orange","lemon")
thistuple += y

print(thistuple)

('apple', 'kiwi', 'cherry', 'orange', 'lemon')
('apple', 'banana', 'cherry', 'orange')
('apple', 'banana', 'cherry', 'orange', 'lemon')

In [ ]:
#RemoveItems - you can use the same workaround as we used for changing and adding tuple items
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: ignored

In [ ]:
#When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

frutas = ('maçã', 'laranja', 'limão')
print(frutas)

#unpacking

(green, yellow, red) = frutas

print(green)
print(yellow)
print(red)

print(frutas)

#Note: The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

fruits_2 = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits_2

print(green)
print(yellow)
print(red)

print(fruits_2)

('maçã', 'laranja', 'limão')
maçã
laranja
limão
('maçã', 'laranja', 'limão')
apple
banana
['cherry', 'strawberry', 'raspberry']
('apple', 'banana', 'cherry', 'strawberry', 'raspberry')

In [ ]:
#If the asterisk is added to another variable name than the last,
#Python will assign values to the variable until the number of values left matches the number of variables left.


fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [ ]:
#loop

thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

#loop through the IndexNumbers

for i in range(len(thistuple)):
  print(thistuple[i])


#while

i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry
apple
banana
cherry
apple
banana
cherry

In [ ]:
#join
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

#MultiplyTuples

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

#count() Returns the number of times a specified value occurs in a tuple
#index()Searches the tuple for a specified value and returns the position of where it was found

tuple3 = (1, 3, 7, 14, 85, 5, 98, 2, 0, 5, 9, 11, 5, 97, 101)
x = tuple3.count(5)
y = fruits.count("banana")

print(x)
print(y)

('a', 'b', 'c', 1, 2, 3)
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')
3
1

#**Sets**

Sets are used to store multiple items in a single variable.

Sets are written with curly brackets.

A set is a collection which is unordered, unchangeable*, and unindexed.

**Unordered** means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Set items are **unchangeable**, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

**Duplicates Not Allowed**

Sets **cannot** have two items with the same value.

In [ ]:
thisset = {'maçã', 'banana','abacaxi', 'pêra','melancia', 'limão', 'laranja', 'banana', 'maçã'}
print(thisset)

print(len(thisset))
print(type(thisset))

#Set items can be of any data type)
#A set can contain different data types

set1 = set(("apple", 4, "cherry")) # note the double round-brackets / The set() Constructor
print(set1)
print(type(set1))

set2 = {"abc", 34, True, 40, "male"}
print(set2)
print(type(set2))

{'banana', 'laranja', 'melancia', 'maçã', 'abacaxi', 'pêra', 'limão'}
7
<class 'set'>
{'apple', 4, 'cherry'}
<class 'set'>
{True, 34, 'abc', 40, 'male'}
<class 'set'>

**More Sets Methods [here](https://www.w3schools.com/python/python_sets_methods.asp)**

**Access Set Items**

In [ ]:
myset = {'red', 'yellow', 'green'}
print(myset)

if 'red' in myset:
  print('Red in myset')

{'red', 'green', 'yellow'}
Red in myset

**Loops**

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

**Change Set Items**

In [ ]:
#Add set items
myset.add("blue")
print(myset)

#add set with set
set2 = {'pink', 'orange', 'purple'}
myset.update(set2)
print(myset)

#add list too
list1 = ['white', 'black']
myset.update(list1)
print(myset)

{'yellow', 'pink', 'purple', 'orange', 'blue', 'green'}
{'yellow', 'pink', 'purple', 'orange', 'blue', 'green'}
{'yellow', 'pink', 'white', 'purple', 'black', 'orange', 'blue', 'green'}

In [ ]:
#Remove set items
myset.remove('black') #remove()
print(myset)

myset.discard('white') ##discard()
print(myset)

x = myset.pop()       #remove randomly
print(x)

y = myset.clear()       #empties the set
print(y)

{'yellow', 'pink', 'white', 'purple', 'orange', 'blue', 'green'}
{'yellow', 'pink', 'purple', 'orange', 'blue', 'green'}
yellow
None

In [ ]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset) #this will raise an error because the set no longer exists

**Join Two Sets**

In [ ]:
#union()
primarycolors = {'red', 'yellow', 'blue'}

secondcolors = {'orange', 'purple', 'green'}

colors = primarycolors.union(secondcolors)
print(colors)

#update()
primarycolors.update(secondcolors)
print(primarycolors)

{'purple', 'red', 'yellow', 'blue', 'orange', 'green'}
{'purple', 'red', 'yellow', 'blue', 'orange', 'green'}

In [ ]:
#keep only duplicates
x = {'purple', 'red', 'yellow', 'blue', 'orange', 'green'}
y = {'purple', 'pink', 'blue'}

x.intersection_update(y)        #intersection_update()
print(x)


x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)         #intersection()
print(z)

{'purple', 'blue'}
{'apple'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)        #symmetric_difference_update(), seguir essa sintaxe

print(x)

x.symmetric_difference(y)           #symmetric_difference()
print(x)

{'cherry', 'banana', 'microsoft', 'google'}
{'cherry', 'banana', 'microsoft', 'google'}

**Sets Methods [here](https://www.w3schools.com/python/python_sets_methods.asp)**

#**Dictionaries**

Dictionaries are used to **store data values in key:value pairs**

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

* Dictionaries are written with curly brackets, and have keys and values

* Dictionary items are ordered, changeable, and does not allow duplicates.

* Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(thisdict['brand'])

for x,y in thisdict.items():
  print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford
brand
model
year

In [ ]:
dictProva = {'Isaias':1959,'Rosangela':1965,'Thamyres':1992}
print(dictProva)

for x in dictProva:
  print(dictProva[x])

dictProva['Clara']=1999
print(dictProva)

{'Isaias': 1959, 'Rosangela': 1965, 'Thamyres': 1992}
1959
1965
1992
{'Isaias': 1959, 'Rosangela': 1965, 'Thamyres': 1992, 'Clara': 1999}

In [ ]:
dict2={}
print(len(dict2))
dict2['Clara']=1999
print(dict2)
print(len(dict2))

0
{'Clara': 1999}
1

**Ordered or Unordered?**

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

Unordered means that the items does not have a defined order, you cannot refer to an item by using an index.

In [ ]:
#LOOP

for x in thisdict:    #print all key names one by one
  print(x)


for x in thisdict:    #print all values one by one
  print("\n", thisdict[x])

for x in thisdict.values(): #value() method
  print("\n", x)

brand
model
year

 Ford

 Mustang

 1964

 Ford

 Mustang

 1964

In [ ]:
for x in thisdict.keys():   #keys() method
  print("\n", x)

for x, y in thisdict.items():   #Loop through both keys and values, by using the items() method
  print("\n", x, y)

 brand

 model

 year

 brand Ford

 model Mustang

 year 1964

**Nested Dictionaries**

A dictionary can contain dictionaries, this is called nested dictionaries.

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [ ]:
#OU crie os vários dicionários que vc quer/precisa e crie um que terá todos os outros
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

**Dictionary methods [here](https://www.w3schools.com/python/python_functions.asp)**

In [ ]:
#any data
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [ ]:
dict1 = {
  'sunday': 1,
  'monday': 2,
  'tuersday': 3
}
print(dict1)

{'sunday': 1, 'monday': 2, 'tuersday': 3}

In [ ]:
dict2 = {
    'Gabi': "25/1",
    'Vi': "9/4",
    'Ray': "18/3",
    'Ju': "23/12",
    'Maria': "31/7"
}

print(dict2)
print(type(dict2))

{'Gabi': '25/1', 'Vi': '9/4', 'Ray': '18/3', 'Ju': '23/12', 'Maria': '31/7'}
<class 'dict'>

In [ ]:
#Duplicates Not Allowed
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020          #mantém o último valor
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
#Constructor
dict3 = dict(name = 'John', age = 36, country = 'USA')
print(dict3)

{'name': 'John', 'age': 36, 'country': 'USA'}

In [ ]:
#Access Items
print(dict3["name"])

print(dict3.get('age'))

print(dict2.keys())

dict2['Marco']='18/10'
print(dict2.keys())

John
36
dict_keys(['Gabi', 'Vi', 'Ray', 'Ju', 'Maria', 'Marco'])
dict_keys(['Gabi', 'Vi', 'Ray', 'Ju', 'Maria', 'Marco'])

In [ ]:
print(dict2.values())
dict2['Marco']='17/10'
print(dict2.values())

print(dict2.items())      #will return each item in a dictionary, as tuples in a list

dict_values(['25/1', '9/4', '18/3', '23/12', '31/7', '17/10'])
dict_values(['25/1', '9/4', '18/3', '23/12', '31/7', '17/10'])
dict_items([('Gabi', '25/1'), ('Vi', '9/4'), ('Ray', '18/3'), ('Ju', '23/12'), ('Maria', '31/7'), ('Marco', '17/10')])

In [ ]:
#Check if Key Exists
if 'Ray' in dict2:
 print(dict2.get('Ray'))    #pega o valor da chave se ela existe

18/3

**Change Items**

In [ ]:
dict4 = {
    'Sheldon': "Flash",
    'Leonard': "Bataman",
    'Raj': "Aquaman",
    'Howard': "Green Lantern",

}
dict4['Leonard'] = 'Superman'     #the value of a specific item by referring to its key name
print(dict4)

dict4.update({'Sheldon':'Batman'})    #update()
print(dict4)

{'Sheldon': 'Flash', 'Leonard': 'Superman', 'Raj': 'Aquaman', 'Howard': 'Green Lantern'}
{'Sheldon': 'Batman', 'Leonard': 'Superman', 'Raj': 'Aquaman', 'Howard': 'Green Lantern'}

**Remove Items**

In [ ]:
dict4.pop('Raj')               #pop() to remove item
print(dict4)

#First, add new item
dict4['Penny'] = 'Wonder Woman'
print(dict4)

dict4.popitem() # remove the last inserted item
print(dict4)

del dict4['Sheldon']      #removes the item with the specified key name
print(dict4)

dict4.clear()     #empty dict
print(dict4)

{'Sheldon': 'Batman', 'Leonard': 'Superman', 'Howard': 'Green Lantern'}
{'Sheldon': 'Batman', 'Leonard': 'Superman', 'Howard': 'Green Lantern', 'Penny': 'Wonder Woman'}
{'Sheldon': 'Batman', 'Leonard': 'Superman', 'Howard': 'Green Lantern'}
{'Leonard': 'Superman', 'Howard': 'Green Lantern'}
{}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

**Loops**

In [ ]:
mydict = {
    'Superman': 'Blue',
    'Batman': 'Black',
    'Wonder Woman': 'Red',
    'Flash': 'Yellow'
}

for x in mydict:      #keys
  print(x)

#OU
for x in mydict.keys():
  print ("\n", x)


for x in mydict:      #values
  print(mydict[x])

#OU
for x in mydict.values():
  print ("\n", x)

#both, keys and values

for x in mydict.items():
  print(x)

Superman
Batman
Wonder Woman
Flash

 Superman

 Batman

 Wonder Woman

 Flash
Blue
Black
Red
Yellow

 Blue

 Black

 Red

 Yellow
('Superman', 'Blue')
('Batman', 'Black')
('Wonder Woman', 'Red')
('Flash', 'Yellow')

**Copy Dictos**

In [ ]:
mydict2 = mydict.copy()
print(mydict2)

#OU

mydict3 = dict(mydict)
print(mydict3)

{'Superman': 'Blue', 'Batman': 'Black', 'Wonder Woman': 'Red', 'Flash': 'Yellow'}
{'Superman': 'Blue', 'Batman': 'Black', 'Wonder Woman': 'Red', 'Flash': 'Yellow'}

In [ ]:
#nested dictos

#**Functions**

In [ ]:
def my_function():                #criando uma função
  print("Hello from a function")

my_function()                     #chamando uma função

#Information can be passed into functions as arguments.
#Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.
#Arguments are often shortened to args in Python documentations.

def my_family(fname):
  print(fname + " Andrade Soares")

my_family("\n\nIsaias")
my_family("Rosângela")
my_family("Vinicius")
my_family("Gabriella")
my_family("Thamyres")

Hello from a function


Isaias Andrade Soares
Rosângela Andrade Soares
Vinicius Andrade Soares
Gabriella Andrade Soares
Thamyres Andrade Soares

In [ ]:
#From a function's perspective:

#A parameter is the variable listed inside the parentheses in the function definition.
#An argument is the value that is sent to the function when it is called

**Number of Arguments**

In [ ]:
def my_family(fname, lname):
  print(fname + " " + lname)

my_family("\nIsaias", "Antônio Soares")
my_family("\nRosângela", "de Fátima Andrade Soares")
my_family("\nVinicius", "Andrade Soares")
my_family("\nGabriella", "Andrade Soares")
my_family("\nThamyres", "Christine de Andrade Soares")

Isaias Antônio Soares

Rosângela de Fátima Andrade Soares

Vinicius Andrade Soares

Gabriella Andrade Soares

Thamyres Christine de Andrade Soares

**Arbitrary Args**

In [ ]:
#If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [ ]:
#If the number of keyword arguments is unknown, add a double ** before the parameter name:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [ ]:
def my_function(x):
    y = ((5 * x) - (x / 2) + (x % 1))
    return y

print(my_function(4))
print(my_function(5))
print(my_function(22))

18.0
22.5
99.0

In [ ]:
def odds(a):
  if (a % 2 == 0):
   print(b = True)
  else:
    print( b = False)
  return b



  print(odds(3))

In [ ]:
def say(text="Default Text"):
  print(text)


say("Hello")

Hello

In [ ]:
def print_sum(*numbers):
  result = 0
  for x in numbers:
    result += x
    print(result)


  print_sum(10, 20, 30, 40)

In [ ]:
def myfunction():
  pass


#function definitions cannot be empty, but if you for some reason have a function definition with no content,
#put in the pass statement to avoid getting an error.

In [ ]:
def my_function(food):    #lists as an Arg
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [ ]:
#Recursion - function can call itself
def myrecursion(k):
  if(k>0):
    result = k + myrecursion(k-1)
    print(result)
  else:
    result = 0
  return result

myrecursion(5)

1
3
6
10
15

15

In [ ]:
def calculadora():
  x = int(num1)
  y = int(num2)
  print("A soma destes números é: ",x + y)

num1 = input("Digite um número e aperte Enter: ")

num2 = input("Digite outro número  e aperte Enter novamente: ")

calculadora()

In [ ]:
def soma2(num1, num2):
  x = int(num1)
  y = int(num2)
  return x + y

resultado = soma2(10, 20)
print(resultado)

#**Conditions (If-Else)**

**If-Else**

In [ ]:
a = 5
b = 10
c = 12
d = 6
e = 10

if a > b:
  print ('Yes, a is greater than b')
else:
  print ('No, b is greater than b')

if b == c:
  print ('Yes, b and c are equal')
else:
  print('No, b and c are not equal')

if b == e:
  print ('Yes, b and c are equal')
else:
  print('No, b and c are not equal')

if b < c:
  print ('Yes, b is less than c')
else:
  print ('No, b is less than c')

if b >= e:
  print ('Yes, b and c are equal or b and c are not equal, but b is greater than e')

if c != d:
  print ('Yes, c and d are not equal')

No, b is greater than b
No, b and c are not equal
Yes, b and c are equal
Yes, b is less than c
Yes, b and c are equal or b and c are not equal, but b is greater than e
Yes, c and d are not equal

**Elif Statement**

In [ ]:
if b > e:
  print ('Yes, b is greater than e')
elif b == e:
  print('Yes, b and e are equal')

Yes, b and e are equal

**Short Hand If Statement**

In [ ]:
if e < c: print('Yo, e is less than c')

Yo, e is less than c

**Short Hand If-Else Statement**

In [ ]:
print('Visca Barça') if 3 > 1 else print('Hala Madrid')

Visca Barça

In [ ]:
print('Visca Barçaaaaaaa') if 3 > 1 else print('Hala Madrid') if 10 > 12 else print('Visca Barça') #three conditions

Visca Barçaaaaaaa

**And & Or Statements**

In [ ]:
a = 5
b = 10
c = 12
d = 6
e = 10

if c > a and c < b:
  print ('both conditions are True')
else:
  print ('both conditions are False or at least one of the conditions is False')

if c > a and c > b:
  print ('both conditions are True')
else:
  print ('both conditions are False or one at least one of the conditions False')

if c > a or c < b:
  print ('at least one of the conditions is False')
else:
  print ('at least one of the conditions is True')

if c > a or c > b:
  print ('at least one of the conditions is True')
else:
  print ('at least one of the conditions is False')

both conditions are False or at least one of the conditions is False
both conditions are True
at least one of the conditions is False
at least one of the conditions is True

**Nested If's**

In [ ]:
#if inside if statements
x = 45

if x > 15:
  print('up')
  if x == 9*5:
    print('That is right')
  else:
    print('try again')

up
That is right

**Pass Statement**

In [ ]:
 if b > a:
   pass

#**While Lopps**

In [ ]:
i = 0
while i < 5:
  print(i)
  i += 1              #i = i + 1

0
1
2
3
4

**Break Statement**

In [ ]:
i = 0
while i < 8:
  print(i)
  if i == 5:
    break
  i += 1

0
1
2
3
4
5

**Continue Statement**

In [ ]:
i = 0
while i < 8:
  i += 1
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8

**Else Statement**

In [ ]:
i = 0
while i < 5:
  print(i)
  i += 1
else:
  print('That is over')

0
1
2
3
4
That is over

#**For loops**

In [ ]:
Barcelona = ['Gavi', 'Pedri', 'Ter Stegen', 'Lewandowski', 'Busquets', 'Araújo', 'Frenkie DeJong', 'Alba', 'Ansu Fati', 'Balde', 'Koundé', 'Christensen', 'Dembélé']
for x in Barcelona:
  print(x)

print(len(Barcelona))

Gavi
Pedri
Ter Stegen
Lewandowski
Busquets
Araújo
Frenkie DeJong
Alba
Ansu Fati
Balde
Koundé
Christensen
Dembélé
13

**Looping Through a String**

In [ ]:
for x in 'Lewandowski':
  print(x)

L
e
w
a
n
d
o
w
s
k
i

**Break Statement**

In [ ]:
Barcelona = ['Gavi', 'Pedri', 'Ter Stegen', 'Lewandowski', 'Busquets', 'Araújo', 'Frenkie DeJong', 'Alba', 'Ansu Fati', 'Balde', 'Koundé', 'Christensen', 'Dembélé']
for x in Barcelona:
  print(x)
  if x == 'Busquets':
    break

print('Busquets - Ele é o capitão')

Gavi
Pedri
Ter Stegen
Lewandowski
Busquets
Busquets - Ele é o capitão

**Continue Statement**

In [ ]:
Barcelona = ['Gavi', 'Pedri', 'Ter Stegen', 'Lewandowski', 'Busquets', 'Araújo', 'Frenkie DeJong', 'Alba', 'Ansu Fati', 'Balde', 'Koundé', 'Christensen', 'Dembélé']
for x in Barcelona:
  if x == 'Busquets': #remove o Busquets
    continue
  print(x)

Gavi
Pedri
Ter Stegen
Lewandowski
Araújo
Frenkie DeJong
Alba
Ansu Fati
Balde
Koundé
Christensen
Dembélé

**Range() Function**

In [ ]:
for x in range(5): #returns a sequence of numbers
  print(x)

for x in range(10, 15):
  print(x)

for x in range (10, 30, 3): #aumenta de três em três
  print(x)

0
1
2
3
4
10
11
12
13
14
10
13
16
19
22
25
28

**Else in For Loop**

In [ ]:
for x in Barcelona:
  print(x)
else:
  print('Visca Barça')

Gavi
Pedri
Ter Stegen
Lewandowski
Busquets
Araújo
Frenkie DeJong
Alba
Ansu Fati
Balde
Koundé
Christensen
Dembélé
Visca Barça

**Nested Loops**

In [ ]:
adj = ['tasty', 'big']
fruits = ['apple', 'banana', 'watermelon', 'orange', 'grape']

for x in adj:
  for y in fruits:
    print(x,y)

tasty apple
tasty banana
tasty watermelon
tasty orange
tasty grape
big apple
big banana
big watermelon
big orange
big grape

**Pass Statement**

In [ ]:
for x in Barcelona:
  pass